@mixin inner-glow-shadow($VerticalLength) {
	-webkit-box-shadow: inset 0px #{$VerticalLength}px 37px -22px rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 0px #{$VerticalLength}px 37px -22px rgba(255, 255, 255, 1);
	box-shadow: inset 0px #{$VerticalLength}px 37px -22px rgba(255, 255, 255, 1);
}
