@import '../abstracts/mixin';

.container {
	height: 100%;
	background-color: #ffffff;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;

	.ropeStart {
		@include inner-glow-shadow(-12);
		background-color: #1b1b1b;
		height: 100%;
		width: 150px;
	}

	.ropeEnd {
		@include inner-glow-shadow(12);
		background-color: #1b1b1b;
		height: 100%;
		width: 150px;
	}

	.title {
		text-align: center;
		font-size: 5rem;
		font-weight: 300;
	}

	.intro {
		text-align: center;
		padding: 0 1.5rem;
	}

	.scrollgif {
		width: 200px;
	}
}
