.container {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.rope {
	background-color: #1b1b1b;
	height: 100%;
	width: 150px;
}

.roller {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cartContainer {
	margin: auto;
}

.cartContainer {
	height: 70%;
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around !important;
}

.card {
	width: 80%;
	height: 80%;
	margin: 20px;
	text-align: center;
	outline: 2px dashed #000000;
	outline-offset: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.card:hover {
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

.textBody {
	padding: 20px;
}
