@import '../abstracts/variables';

.content {
	position: fixed;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
	margin-right: 1.5rem;

	.slideIcon {
		height: 1.5rem;
		width: 1.5rem;
		background-color: $color-white;
		border: 0.2px solid #{$color-black};
		border-radius: 50%;
		margin-bottom: 1rem;
		cursor: pointer;
		transition: all 0.2s;

		&:hover {
			transform: scale(1.3);
		}
	}
}
